body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #ffffff;
}

/* Navbar styling */
nav {
    background-color: #181818;
    color: #7f8c8d;
    text-align: center; /* Center-align the text */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; /* Make the ul element inline-block to center */
}

nav ul li {
    display: inline; /* Display list items inline for horizontal layout */
    margin: 0 15px; /* Adjust margin between items */
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Adjust link color as needed */
    font-size: 16px; /* Adjust font size as needed */
}

main {
    padding: 80px 20px 20px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.intro-text {
    max-width: 60%;
}

.intro-text h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.intro-text h1 span {
    color: #ffffff;
}

.intro-text p {
    font-size: 1.2em;
    line-height: 1.5;
}

.intro-text a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.intro-image {
    max-width: 35%;
}

.intro-image img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #181818;
    color: #7f8c8d;
    position: fixed;
    width: 100%;
    bottom: 0;
}
